/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  background-color: #f9fafe;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

.header.header-scrolled {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}

.header .logo {
  line-height: 0;
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  transition: all 0.3s;
}

/* @media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
} */

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: #4154f1;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #6776f4;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 990px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-profile img {
  max-height: 36px;
}

.nav-profile span {
  font-size: 20px;
  font-weight: 600;
}

.user-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #E4F6FA;
  border: 2px #012970 groove;

  line-height: 40px;
  font-size: 20px;
  color: #012970;
  text-align: center;
  display: center;
}


.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #013289;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 25px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #4154f1;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  top: calc(100% + 30px);
  margin: 0;
  /*dito ako nagbago may dinelete me here no effect naman =)*/
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 180px;
}

.navbar .dropdown ul a {
  display: block;
  padding: 10px 15px;
  font-size: 18px;
  text-transform: none;
  font-weight: 600;
}

.navbar .dropdown .dropdown-item span {
  text-align: center;
  cursor: pointer;
}

.navbar .dropdown ul a i {
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #012970;
  font-size: 35px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 25px;
  bottom: 25px;
  left: 25px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

/*dito ako nagbago*/
.navbar-mobile .dropdown-toggle {
  padding-right: 80px;
  position: absolute;
  left: 85px;
  
  position: fixed;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 25px;
  color: #012970;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #4154f1;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 180px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 20px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #4154f1;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

.profile {
  min-width: 240px;
  padding-bottom: 0;
  align-items: center;
}

.profile .dropdown-header h6 {
  font-size: 18px;
  margin-bottom: 0;
  font-weight: 600;
  color: #444444;
}

.profile .dropdown-header span {
  font-size: 14px;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

.Account {
  background-color: #f9fafe;
  background-size: cover;
}

section {
  /* padding: 60px 0; */
  display: block;
  min-height: 100vh;
  width: 100%;
  box-sizing:border-box;
  padding-top: 60px;
}

.section-header {
  text-align: center;
  padding-bottom: 20px;
}

.section-header h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
  color: #4154f1;
  text-transform: uppercase;
}

.section-header p {
  /* margin: 10px 0 0 0; */
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
  color: #012970;
}

@media (max-width: 990px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }

  /* section {
    min-height: 100vh;
  } */
}

/*--------------------------------------------------------------
# Hero Section #C2E9FB .hero {
  width: 100%;
  height: 100vh;
  background: #C2E9FB top center no-repeat; 
  background-size: cover;
}
--------------------------------------------------------------*/
.hero {
  background: linear-gradient(-45deg, #C2E9FB, #66A6FF, #C2E9FB, #D7FFFE);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.content-bg {
  background: linear-gradient(-45deg, #C2E9FB,  #66A6FF, #C2E9FB, #D7FFFE);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  /* height: 100%; */
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #012970;
}

.hero h2 {
  color: #444444;
  margin: 15px 0 0 0;
  font-size: 26px;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
    /* padding: 0; */
  }

  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }

  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 990px) {
  .hero {
    text-align: center;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero h2 {
    font-size: 24px;
  }

  .hero .hero-img img {
    width: 100%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}

.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: #4154f1;
  text-transform: uppercase;
}

.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}

.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}

.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}

.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/* Card */
.card {
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.card-header,
.card-footer {
  border-color: #ebeef4;
  background-color: #fff;
  color: #798eb3;
  padding: 15px;
}

.card-title {
  padding: 20px 0 15px 0;
  font-size: 25px;
  font-weight: 500;
  color: #012970;
  font-family: "Poppins", sans-serif;
}

.card-title span {
  color: #899bbd;
  font-size: 25px;
  font-weight: 400;
  padding-right: 20px;
}

.card-body {
  padding: 0 20px 20px 20px;
}


.card-img-overlay {
  background-color: rgba(255, 255, 255, 0.6);
}

/* Bordered Tabs */
.nav-tabs-bordered {
  border-bottom: 2px solid #ebeef4;
}

.nav-tabs-bordered .nav-link {
  margin-bottom: -2px;
  border: none;
  color: #2c384e;
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: #ebeef4; */
}

.nav-tabs-bordered .nav-link:hover,
.nav-tabs-bordered .nav-link:focus {
  color: #4154f1;
}

.nav-tabs-bordered .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-bottom: 5px solid #4154f1;
}

/* .settings {
  border-left: 2px solid #4154f1;
}

.settings {
  border-left: 2px solid #ebeef4;
} */

.settings .nav-link {
  margin-bottom: 10px;
  border: none;
  color: #2c384e;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.6);
}

.settings .nav-link:hover,
.settings .nav-link:focus {
  color: #4154f1;
}

.settings .nav-link.active {
  background-color: #fff;
  color: #4154f1;
  border-left: 3px solid #4154f1;
}

/* .form-setting {
  margin-left: 3rem
} */


/*--------------------------------------------------------------
# View Profile Page
--------------------------------------------------------------*/


.view-profile .box {
  padding: 40px 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  height: 650px;
  /* margin-bottom: 15px; */
}

.view-profile .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.view-profile .box li {
  color: #012970;
  font-weight: 700;
}

.view-profile .box li span {
  color: #000;
  font-weight: 500;
  /* font-weight: lighter; */
}

.view-profile h3 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
}

.view-profile .profile-details {
  font-size: 20px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.view-profile .box img {
  margin-top: 15px;
  align-items: center;
  justify-content: center;
  padding: 0px 50px;
}

.view-profile ul {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: left;
  line-height: 26px;
  font-size: 15px;
  margin-bottom: 30px;
}

.view-profile ul li {
  padding-bottom: 8px;
}

.adjust-top {
  margin-top: 15px;
}

.customer-page {
  background-color: #f9fafe;
}

.customer-page label{
  color: #012970;
  font-weight: 600;
}

.profile-welcome-text {
  letter-spacing: 5px;
}

.profile-text {
  font-weight: 600;
  font-size: 26px;
  margin: 15px 0 0 0;
  color: #444444;
}

@media (max-width: 990px) {
  .view-profile .box {
    height: fit-content;
    margin-top: 20px;
  }
}

@media (max-width: 1199px) {
  .view-profile .profile-details {
    font-size: 20px;
    font-weight: 400;
  }
}

/*--------------------------------------------------------------
# Ticket Page
--------------------------------------------------------------*/
.tkt-card {
  margin-top: 20px;
  background-color: #FFFFFF;
}

.tkt-tbl {
  min-height: 550px;
  background-color: #C2E9FB;
}

.tkt-tbl td,
th {/*dito ako nagbago*/
  font-weight:600;
}

.tkt-tbl .tbl-head {/*dito ako nagbago*/
  background-color: #66A6FF;
  
}

.tkt-tbl tr:nth-child(even) {/*dito ako nagbago*/
  background-color: #C2E9FB;
}

.tkt-tbl tbody tr:hover{/*dito ako nagbago*/
  background: #f5f5f5;
}

.tkt-card {
  min-height: 540px;
  padding: 10px;
  padding-top: 20px;
}

.acct-tbl {
  min-height: 460px;
  padding: 10px;
  padding-top: 20px;
}

.create-ticket-container label,
.ticket-modal-container label{
  color: #012970;
  font-weight: 600;
}

.btn-primary {
  background-color: #4154f1 !important;
  border-color: #012970;
}

.tkt-container,
.acct-container {
  margin: auto;
  padding-top: 100px;
}

/*--------------------------------------------------------------
# DataTable
--------------------------------------------------------------*/
.dataTables_wrapper {
  min-height: 300px;
}

@media (max-width: 990px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}



.hide {
  display: none;
}